/************************************Tag Selection**************************************/
body{
    background: no-repeat right 0 top 688px url("../assets/desktop/bg-pattern-dots.svg"),
                no-repeat right 0 top 100px url("../assets/desktop/image-host.jpg"),
                #111725;
    color:blanchedalmond;

    min-height: 130vh;
}
h1{
    font-size: 2.5em;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 400;
    line-height: 120%;
}
p{
    width: 75%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}
/***********************************Class Selection*************************************/
.main-container{
    margin-top: 70px;
    margin-left: 6%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 670px;
    width: 50%;
}
.content-container{
    background-color: #111725;

    padding-top: 80px;
    padding-right: 70px;
}
.email-input{
    margin-top: 32px;
    margin-bottom: 48px;
}
.c-form {
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;

    background-color: #2c344b;
    border-radius: 1.5em;

    padding-left: 1.5em;

    width: 75%;
}
.c-form__input {
    background-color: #2c344b;
    border-width: 0;
    border-style: none;

    width: 60%;

    color: blanchedalmond;
    font-weight: 700;
}

.c-form__button {
    color: #111725;
    padding: 0 1.5em;
    margin: 0.2em 0.2em 0.2em 0;
    height: 3em;
    background-color: #54e6af;

    border-radius: 1.5em;
    border-width: 0;
    border-style: none;

    font-weight: 700;
}
.podcasts{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}
/***********************************Id Selection*************************************/
#email{
    background-color: #2c344b;
}